/* CSS Document */
.Pagetitle{
	margin-left: 25px;
	text-align: center;
}

hr{
	border: 0.5px solid #9D9D9D; 
}

.topbar {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
	transition: 0.4s; /* Adds a transition effect when the padding is decreased */
	position: fixed; /* Sticky/fixed navbar */
	width: 100%;
	top: 0; /* At the top */
	z-index: 99;
}
