.slideshow {
  display: block;
  text-align: center;
  overflow-x: hidden;
}

.slideshow img {
	height: 70%;
    width: 100%;
}

.slidetitle {
	position: absolute;
	overflow: auto;
	font-size: 48px;
	margin-left: 15%;
	margin-top: 15%;
	margin-right: 15%;
	margin-bottom: 15%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight:lighter;
}

.slidedesc {
	position: absolute;
	overflow: auto;
	font-size: 18px;
	margin-left: 15%;
	margin-top: 20%;
	margin-right: 15%;
	margin-bottom: 20%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight:inherit;
}

.mySlides {

}

  /* slide animation */
.slide {
    display: block;
	position: relative;
    left: 2000px;
    width: 100%;
	-webkit-animation-name: slide 0.5s forwards;
	-webkit-animation-delay: 0.3s;
    animation: slide 0.5s forwards;
    animation-delay: 0.3s;
  }
  
@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .slideshow
    .text {font-size: 11px}
  }